<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="#" />
  <title>Breast Cancer Detection</title>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="head">Breast Cancer Detection</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="btn-container">

          <!-- Main Input For Receiving Query to our ML -->
          <form action="{{ url_for('prediction_text}}</h1>
        </center>
        <br />
</body>

</html>
